body {
   background-color: white;
}
h1 {
   text-align: center;
   margin-top: 50px;
   font-size: 3em;
   font-family: Arial, "cursive", sans-serif;
}

h2 {
   text-align: center;
   margin-top: -10px;
   font-size: 1.5em;
   font-family: Arial, "cursive", sans-serif;
}

.text {
   width: 50%;
   margin-left: 25%;
   margin-bottom: -5%;
   padding: 10px;
   border-color: black;
   font-size: 1em;
}

.button {
   margin-left: 25%;
   font-size: 30px;
   margin-bottom: 5%;
}

.tipHere{
   margin-left: 25%;
   font-size: 30px;
   margin-bottom: 5%;
   margin-top: -15%;
   font-size: 1.4em;
}
